@use "variables";

.css-library-example {
  width: variables.$width;
  height: variables.$height;

  &.y-in-mn-blue {
    background-color: variables.$y-in-mn-blue;
  }

  &.chinese-violet {
    background-color: variables.$chinese-violet;
  }

  &.rose-dust {
    background-color: variables.$rose-dust;
  }

  &.candy-pink {
    background-color: variables.$candy-pink;
  }

  &.tumbleweed {
    background-color: variables.$tumbleweed;
  }

  &.gradient-top {
    background: variables.$gradient-top;
  }

  &.gradient-right {
    background: variables.$gradient-right;
  }

  &.gradient-bottom {
    background: variables.$gradient-bottom;
  }

  &.gradient-left {
    background: variables.$gradient-left;
  }

  &.gradient-top-right {
    background: variables.$gradient-top-right;
  }

  &.gradient-bottom-right {
    background: variables.$gradient-bottom-right;
  }

  &.gradient-top-left {
    background: variables.$gradient-top-left;
  }

  &.gradient-bottom-left {
    background: variables.$gradient-bottom-left;
  }

  &.gradient-radial {
    background: variables.$gradient-radial;
  }
}
